body {
	background-color: black;
}

.jumbotron {
	background-color: #ccc;	
}

main {
	padding: 15px;
	margin: 0 0 30px 0;	
	background-color: white;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

footer {
	color: rgba(255,255,255,0.3);
	text-align: center;
}

footer li, footer ul {
	padding: 0;
	margin: 0;
}
footer li {
	margin: 0px 10px;
	list-style: none;
	display: inline;
	
}

@media print {
	nav {
		display: none;
	}
}

a {
	cursor: pointer;
}

a.navbar-brand {
	color: white;
}


#home-picture {
	padding:5%;
	background-color: white;
	cursor: pointer;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
	width: 50%;
	border-radius: 0px 0px 12px 12px;

}